body, html {
  height: 100%;
  margin: 0;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use viewport height to fill up the window */
}

.slider-container::before {
  content: "";
  background-image: url('comic1.jpeg'); /* Replace with your image filename */
  background-size: 100% 100%; /* Fill up the container */
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  
  #prev-button,
  #next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  


  #prev-button {
    left: 10px;
    
  }
  
  #next-button {
    right: 10px;
  }
  